/*
 * @Author: lifan
 * @Date: 2018-10-30 16:16:50
 * @Last Modified by: lifan
 * @Last Modified time: 2018-10-30 16:20:41
 */
// 颜色规范
$color-background: #f0f2f5;
$color-background-header: #3a89cb;
$color-login: #2f8eb1;
$color-text: #000;
$color-text-l: #777;

// 字体规范$font-size-small-s = 10px
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
