/*
 * @Author: lifan
 * @Date: 2018-11-05 21:59:02
 * @Last Modified by: lifan
 * @Last Modified time: 2018-11-08 15:14:35
 */
.header {
  background: #fff !important;
  padding: 0 !important;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }
}

.content {
  min-height: 100vh;
}

.sider {
  color: #fff;
  overflow: hidden;
}
